body {
  min-height: 100vh;
}

.slideshow__container {
  width: 50rem;
  height: 20rem;
  margin: 2rem auto;
  position: relative;
}

.img__container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  animation: fade 1.5s;
}

.img__container.show {
  display: block;
}

.slideshow__img {
  display: block;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-out;
}

.controller {
  width: 40px;
  height: 50px;
  border-radius: 3px;
  color: #f3f3f3;
  z-index: 100;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  cursor: pointer;
  transition: background 0.3s ease-out;
}

.controller.right {
  right: 0;
}

.controller:hover {
  background: #333;
}

.dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  display: flex;
  justify-content: space-between;
}

.dots span {
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #9c9c9c;
  transition: all 0.3s ease-out;
  cursor: pointer;
}

.dots span.active {
  background: #f3f3f3;
}

.caption {
  position: absolute;
  bottom: 40px;
  width: 100%;
  text-align: center;
  color: #adadad;
  font-size: 20px;
  letter-spacing: 3px;
}

.numbers {
  position: absolute;
  top: 8px;
  left: 8px;
  text-align: center;
  color: #969696;
  font-size: 15px;
  letter-spacing: 3px;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
