*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f3f3f3;
}

.accordion__container {
  width: 80%;
  margin: 10px auto;
}

.accordion__group {
}
.accordion__btn {
  background-color: rgb(184, 179, 179);
  color: #444;
  font-size: 10px;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.accordion__btn::after {
  content: "\02795";
  font-size: 10px;
  color: #444;
  float: right;
  margin-left: 5px;
}

.accordion__btn:hover,
.active {
  background-color: #ccc;
}

.active::after {
  content: "\2796";
}

.accordion__panel {
  max-height: 0;
  overflow: hidden;
  background-color: #fff;
  transition: max-height 0.3s ease;
}

.accordion__panel p {
  padding: 10px 18px;
}
