*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  max-width: 100vw;
  height: 100vh;
  background-color: #000;
}

.wheel-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  /* overflow: hidden; */
}

.wheel {
  width: 22%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.wheel-img {
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
}

.wheel-img.active {
  opacity: 1;
}

#start-btn,
#stop-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  display: inline-block;
  width: 10%;
  margin: 10px auto;
}
