.tab {
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  display: flex;
}

.tab button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}
/* Change the background color when hover */
.tab button:hover {
  background-color: #ddd;
}
/* active tab link */
.tab button.active {
  background-color: #ccc;
}
/* tab content */
.tabcontent {
  display: none;
  padding: 6px 12px 1px solid #ccc;
  border-top: none;
}
.tabcontent {
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
