*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1rem;
  width: 100vw;
  min-height: 100vh;
  padding: 3rem;
  background-color: orangered;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  flex: 1;
  background-color: #f3f3f3;
  padding: 3rem;
  border-radius: 5px;
}

.container:not(:last-child) {
  margin-right: 1rem;
}

.form {
}

.form__group {
  width: 100%;
  margin: 1rem auto;
}

.form__input {
  font-family: inherit;
  font-size: inherit;
  padding: 1rem;
  display: block;
  width: 100%;
  border: none;
  outline: none;
}

.form__input::-webkit-input-placeholder {
  text-transform: capitalize;
}

.form__input:focus,
.form__input:active {
  outline: none;
  border-bottom: 1px solid orangered;
}

.form__label {
  margin-top: 0.5rem;
  display: block;
}

.submit-btn {
  display: block;
  padding: 1rem;
  width: 100%;
  background-color: orangered;
  font-family: inherit;
  font-size: inherit;
  color: #f3f3f3;
  border: none;
  outline: none;
  border-radius: 3px;
  cursor: pointer;
}

.submit-btn:hover {
  filter: brightness(90%);
}

.submit-btn:active {
  outline: none;
  transform: scaleX(0.98) scaleY(0.9);
}

.result {
  width: 100%;
  background-color: white;
  padding: 1rem;
  margin-top: 1rem;
  text-align: center;
}
