*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
}

.tab {
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 30%;
  height: 300px;
}

.tablinks {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
}

.tablinks:hover {
  background-color: #ddd;
}

.tabcontent-container {
  width: 70%;
}
.tabcontent {
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 100%;
  border-left: none;
  height: 300px;
  display: none;
}

.tabcontent.active {
  display: block;
}

.tablinks.active {
  background-color: #ccc;
}
