*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.tabcontent {
  color: white;
  display: none;
  padding: 50px;
  text-align: center;
}

#London {
  background-color: red;
}
#Paris {
  background-color: green;
}
#Tokyo {
  background-color: blue;
}
#Oslo {
  background-color: orange;
}

h1 {
  margin-bottom: 20px;
}

.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #777;
}
