*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-height: 100vh;
  text-align: center;
  padding: 30px;
  color: #fff;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, #e485c7, #5c0b4e);
}

[class$="container"] {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-top: 1px solid rgb(240, 199, 123);
  padding: 30px 0;
  width: 50%;
}

.form-group:not(:first-child) {
  margin-left: 20px;
}

h1,
h3 {
  width: 100%;
  margin-bottom: 10px;
}

.form-input {
  margin-right: 5px;
  text-align: left;
}

#generateBtn {
  padding: 20px;
  background-color: #333;
  cursor: pointer;
  border: none;
  color: #fff;
  border-radius: 5px;
  margin-top: 10px;
  box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.2);
}

#generatenBtn:hover {
  filter: brightness(90%);
}

#generateBtn:active {
  transform: scale(0.95);
}

#generateBtn:focus {
  outline: none;
}
