*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.img__container {
  width: 30%;
  margin: 2rem auto 0 2rem;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.img__container:hover .img {
  transform: scale(1.2);
}

.img__container:hover .overlay {
  opacity: 1;
}

.img {
  display: block;
  width: 100%;
  transition: all 3s ease-out;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  opacity: 0;
  transition: all 0.3s ease-out;
}

.img__caption {
  font-size: 1.8rem;
  padding: 1rem 2rem;
  background: #f3f3f3;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
