*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #f3f3f3;
}

.container {
  width: 35px;
  display: inline-block;
  cursor: pointer;
  position: fixed;
  top: 5px;
  right: 5px;
}

.container div {
  width: 100%;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: all 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-405deg) translate(-9px, 6px);
  transform: rotate(-405deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(405deg) translate(-8px, -8px);
  transform: rotate(405deg) translate(-8px, -8px);
}
