*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 18px;
  color: #333;
  background: #f3f3f3;
  min-height: 100vh;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

/* grid layout */
.container {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template: 10vh auto 10vh / repeat(12, 1fr);
  grid-template-areas:
    "h h h h h h h h h h h h"
    ". . b b b c c c c c . ."
    "f f f f f f f f f f f f";
}

.header {
  grid-area: h;
}

.sidebar {
  grid-area: b;
  padding: 10px;
  background: #797676;
}

.content {
  grid-area: c;
  padding: 10px;
  background: #a8a7a7;
}

.footer {
  grid-area: f;
}

/* end of grid layout */
/* menu */
/* Style the search box */
#mySearch {
  width: 100%;
  font-size: 18px;
  padding: 11px;
  border: 1px solid #ddd;
}

/* Style the navigation menu */
#myMenu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myMenu > li.hide {
  display: none;
}

/* Style the navigation links */
#myMenu li a {
  padding: 12px;
  text-decoration: none;
  color: black;
  display: block;
}

#myMenu li a:hover {
  background-color: #eee;
}
