*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: #f3f3f3;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.8rem;
  color: #333;
  overflow-y: hidden;
}

.navbar {
  width: 100%;
  height: 100vh;
  background: #333;
  position: fixed;
  left: -100%;
  z-index: 100;
  transition: left 0.5s ease-out;
}

.navbar.show {
  left: 0;
}

.navbar__nav {
  width: 100%;
  height: 100%;
  padding: 3rem 0;
  text-align: center;
}

.navbar__item {
  list-style: none;
  margin-bottom: 2rem;
}

.navbar__link {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-family: inherit;
  font-size: inherit;
  font-weight: 400;
  color: #f3f3f3;
  transition: all 0.3s ease-out;
}

.navbar__link:hover {
  filter: brightness(120%);
  transform: scale(1.05) translateY(-3px);
  text-shadow: 0 0.5rem 1rem rgba(136, 136, 136, 0.5);
}

.close {
  position: absolute;
  z-index: 100;
  color: #f3f3f3;
  top: 2rem;
  right: 3rem;
  font-weight: 400;
  cursor: pointer;
  transition: all ease 0.5s;
}

.close:hover {
  filter: brightness(120%);
  transform: rotate(360deg);
  text-shadow: 0 0.5rem 1rem rgba(136, 136, 136, 0.5);
}

.content {
  text-align: center;
  min-height: 100vh;
}

.hamburger {
  width: 4rem;
  position: absolute;
  top: 5vh;
  right: 3vw;
  cursor: pointer;
}

.hamburger span {
  display: block;
  width: 100%;
  height: 3px;
  border-radius: 3px;
  background: #333;
  transition: all 0.3s ease-out;
}

.hamburger span:nth-child(2) {
  margin: 2px 0;
}

.hamburger.click span:nth-child(1) {
  transform: rotate(405deg) translate(5px, 3px);
}

.hamburger.click span:nth-child(2) {
  transform: scale(0);
}

.hamburger.click span:nth-child(3) {
  transform: rotate(495deg) translate(-5px, 3px);
}
