*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1.8rem;
  color: #333;
}

.container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 15vw calc(102rem - 15vw) 1fr;
  grid-template-areas: ". sidebar content .";
}

.sidebar {
  background: #6d6c6c;
  padding: 3rem 0;
  grid-area: sidebar;
  min-height: 100vh;
  transition: all 0.3s ease-out;
}

.navbar {
  min-height: 100vh;
}

.navbar__nav {
  min-height: 100vh;
}

.navbar__item {
  list-style-type: none;
  padding: 1rem 3rem;
  transition: background 0.3s ease;
}

.navbar__item:hover {
  background: #929191;
}

.navbar__link {
  display: block;
  width: 100%;
  text-decoration: none;
  font-family: inherit;
  font-size: inherit;
  color: #f3f3f3;
}

.content {
  grid-area: content;
  padding: 3rem;
  background: #f3f3f3;
  max-width: 1020px;
}

h1 {
  margin-bottom: 1rem;
}

p {
  margin-bottom: 1rem;
  text-align: justify;
}

.hamburger {
  width: 4rem;
  position: fixed;
  top: 3rem;
  right: 3rem;
  z-index: 100;
  display: none;
  cursor: pointer;
}

.hamburger span {
  display: block;
  width: 100%;
  height: 3px;
  background: #6d6c6c;
}

.hamburger span:nth-child(2) {
  margin: 4px 0;
}

@media (max-width: 800px) {
  body {
    padding: 2rem;
  }
  .container {
    grid-template-columns: 20vw auto;
    grid-template-areas: "sidebar content";
  }
}

@media (max-width: 600px) {
  body {
    padding: 0;
  }

  .sidebar {
    position: absolute;
    left: -100%;
  }

  .container {
    grid-template-areas: "content content";
  }

  .sidebar.show {
    left: 0;
  }

  .content.show {
    grid-column: 2/3;
  }

  .hamburger {
    display: block;
  }
}
