*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  background: #f3f3f3;
  font-family: monospace;
  font-size: 1.8rem;
  color: #333;
  overflow-y: hidden;
  min-height: 100vh;
}

.container {
  min-height: 100vh;
  display: flex;
}

.navbar {
  width: 15%;
  height: inherit;
  background: #9b9a9a;
  position: relative;
  left: -15%;
  transition: all 0.3s ease-out;
  z-index: 1000;
}

.navbar.show {
  left: 0;
}

.navbar__nav {
  width: 100%;
  height: 100%;
  padding-top: 3rem;
}

.navbar__item {
  list-style: none;
  padding: 1.5rem 3rem;
}

.navbar__item:hover .navbar__link {
  color: #525050;
}

.navbar__link {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  text-transform: uppercase;
  font-family: inherit;
  font-size: inherit;
  color: #333;
  font-weight: 700;
  transition: color 0.3s ease-out;
}

.close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  font-weight: 700;
  cursor: pointer;
}

.content {
  padding: 3rem;
  margin-left: -15%;
  transition: all 0.3s ease-out;
}

.content.show {
  margin-left: 0;
}

.overlay {
  position: fixed;
  top: 0rem;
  right: 0rem;
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease-in-out;
}

.content.show .overlay {
  top: -80rem;
  right: -80rem;
  width: 500rem;
  height: 500rem;
}

.hamburger {
  position: absolute;
  width: 3rem;
  top: 2vh;
  right: 2vw;
  cursor: pointer;
  z-index: 1000;
}

.hamburger span {
  display: block;
  width: 100%;
  height: 3px;
  border-radius: 3px;
  background: #333;
  transition: all 0.3s ease-out;
}

.hamburger span:nth-child(2) {
  margin: 2px 0;
}

.hamburger.click span:nth-child(1) {
  transform: rotate(405deg) translate(5px, 3px);
}

.hamburger.click span:nth-child(2) {
  transform: scale(0);
}

.hamburger.click span:nth-child(3) {
  transform: rotate(495deg) translate(-5px, 3px);
}
