*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: #f3f3f3;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.header {
  height: 100vh;
}

.navbar {
  background: #333;
}

.navbar__nav {
  display: flex;
  height: 100%;
}

.navbar__item {
  list-style: none;
  display: block;
  height: 10vh;
  padding: 0 15px;
}

.navbar__item.active {
  background: rgb(66, 110, 21);
}

.navbar__item:hover {
  background: #f3f3f3;
}

.navbar__item:hover .navbar__link {
  color: #333;
}

.navbar__link {
  display: block;
  height: 100%;
  text-decoration: none;
  font-family: inherit;
  font-size: 18px;
  color: #f3f3f3;
  font-weight: 400;
  display: flex;
  align-items: center;
}

.hamburger {
  position: absolute;
  top: 20px;
  right: 10px;
  width: 40px;
  cursor: pointer;
  display: none;
}

.hamburger span {
  display: block;
  width: 100%;
  height: 3px;
  background: #f3f3f3;
}

.hamburger span:nth-child(2) {
  margin: 5px 0;
}

/* hamberger menu responsive */
@media (max-width: 600px) {
  .hamburger {
    z-index: 10;
    display: block;
  }
  .navbar__item:not(:first-child) {
    display: none;
  }
  .navbar.responsive .navbar__nav {
    flex-direction: column;
  }
  .navbar.responsive .navbar__item {
    display: block;
    height: 10vh;
  }
}
