@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  width: 100vw;
  min-height: 100vh;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.8rem;
  padding: 2rem;
}

.header {
  height: 5rem;
  display: flex;
  justify-content: flex-end;
}

.navbar {
}

.navbar__nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar__item {
  list-style: none;
  margin-left: 2rem;
}

.navbar__link {
  text-decoration: none;
  color: #000;
}

.navbar span#account {
  width: 3rem;
  height: 3rem;
  color: #fff;
  border-radius: 50%;
  background-color: rgba(11, 11, 228, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon__container {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -100;
  width: 3.7rem;
  height: 3.7rem;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.icon__container:hover {
  background-color: rgb(53, 53, 53, 0.2);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading-main {
  font-size: 8rem;
  margin-top: 6rem;
  margin-bottom: 4rem;
}

.form__group {
  width: 40%;
  margin: 0 auto;
  position: relative;
  margin-bottom: 4rem;
}

.form__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.form__icon:first-child {
  left: 1.5rem;
}

.form__icon:last-child {
  right: 1.5rem;
}

.form__input {
  font-family: inherit;
  font-size: 1.8rem;
  width: 100%;
  padding: 1.5rem 4rem;
  border: none;
  outline: none;
  border-radius: 2.5rem;
  box-shadow: -3px 3px 10px rgba(0, 0, 0, 0.2);
}

.form__input:focus {
  outline: none;
}

.options {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28%;
  margin: 0 auto;
  flex-wrap: wrap;
}

.option {
  width: 25%;
  height: 12rem;
  flex: 1 1 auto;
  border-radius: 5px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s ease;
  cursor: pointer;
  margin: 1rem;
  position: relative;
}

.dot {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: rgb(53, 53, 53, 0.5);
  position: absolute;
  top: 15px;
  right: 10px;
  opacity: 0;
  transition: opacity 0.3s ease 0.3s;
}

.dot::before,
.dot::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgb(53, 53, 53, 0.5);
  position: absolute;
}

.dot::before {
  top: -5px;
}

.dot::after {
  top: 5px;
}

.option:hover {
  background-color: rgb(53, 53, 53, 0.2);
}

.option:hover .dot {
  opacity: 1;
}

.option__icon__container {
  background-color: rgb(53, 53, 53, 0.1);
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.option__icon {
  background-color: green;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.option__text {
  font-size: 1.2rem;
}
