*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fff;
  padding: 30px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #333;
}

.header {
  background: #f3f3f3;
  display: flex;
  justify-content: space-between;
}

.navbar__nav {
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.navbar__item {
  display: block;
  height: 100%;
  padding: 0 15px;
  list-style: none;
  transition: background 0.3s ease;
}

.navbar__item:hover {
  background: #d3d2d2;
}

.navbar__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  color: inherit;
  text-transform: uppercase;
}

.form__group {
  width: 30%;
  height: 100%;
  display: flex;
}

.form__input {
  padding: 10px 5px;
  border: none;
  border-radius: 3px 0 0 3px;
  display: block;
  width: 80%;
  margin: 5px 0;
  outline: none;
}

::-webkit-input-placeholder {
  text-transform: capitalize;
  font-size: 18px;
}

.icon-container {
  width: 10%;
  background: #d3d2d2;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
  border-radius: 0 3px 3px 0;
}

.icon-container:hover {
  filter: brightness(110%);
}

@media (max-width: 900px) {
  .form__group {
    width: 40%;
  }

  .icon-container {
    width: 12%;
  }
}

@media (max-width: 650px) {
  .navbar {
    width: 100%;
  }

  .navbar__nav {
    flex-direction: column;
  }

  .header {
    flex-direction: column;
    align-items: center;
  }

  .form__group {
    width: 100%;
    justify-content: center;
  }
}
